@model IEnumerable<System.Security.Claims.Claim>

@{
    ViewBag.Title = "Contact";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<h1>You're logged in!</h1>
@foreach (var claim in Model)
{
    <div>
        <p><strong>@claim.Type</strong></p>
        <p>
            @claim.Value
        </p>
    </div>
}

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>